<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763986666825-rtoj70oe49e6m3tpa1jmhpuf1rbj99fn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763986666825-rtoj70oe49e6m3tpa1jmhpuf1rbj99fn</string>
	<key>API_KEY</key>
	<string>AIzaSyDbKiCnCCzANQsNsh6xusfMmjP6Kek0goQ</string>
	<key>GCM_SENDER_ID</key>
	<string>763986666825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lavenes.quiz</string>
	<key>PROJECT_ID</key>
	<string>poly-quiz</string>
	<key>STORAGE_BUCKET</key>
	<string>poly-quiz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:763986666825:ios:3472f17b94d5ea5d19a698</string>
</dict>
</plist>
